<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gold Price Prediction</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Gold Price Prediction</h1>
    <form action="/predict" method="post">
        <label for="month">Select Month:</label>
        <select id="month" name="month">
            {% for month in range(1, 13) %}
            <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select>
        <label for="year">Select Year:</label>
        <select id="year" name="year">
            {% for year in range(2024, 2026) %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <button type="submit">Predict</button>
    </form>
    <div id="plot">
        {{ plot_html | safe }}
    </div>
</body>
</html>
